* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: BLACK;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 h1 {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50vw;
  transform: translateX(60%);
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
